.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
public/uploads/**/*
public/hot_music
public/hot_music/**/*
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
vendor/ruby
doc/wiki_repo
solr/data/
solr/pids/
